*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.card{
  align-items: center;
}
.card-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-title{
  text-align: center;
  font-weight:700;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}
.card-subtitle{
  text-align: center;
  font-size: 1.1rem;
  padding-bottom: .7rem;
  text-transform: uppercase;
}
.card-img-top{
  margin: 2rem ;
  height: 200px;
  max-width: 200px;
  border-radius: 50%;
}
.card-text{
  width: 70%;
}
.prev-next-buttons{
  margin-bottom: 1rem;
}
.suprise{
  margin-bottom: 1rem;
}

